@import "tailwindcss";

@layer base {
  :root {
    --background: 240 10% 98%; /* #F8F8F8 */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --primary: 172.5 75.1% 40.2%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --border: 214.3 31.8% 91.4%;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[hsl(var(--primary))] to-[hsl(var(--primary)/0.8)];
  }
}

